<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <script src="./plugins/static/luckysheet/luckysheet.umd.js"></script>
    <script src="./plugins/static/luckysheet/plugin.js"></script> -->
    <!-- <link rel='stylesheet' href='./plugins/static/luckysheet/pluginsCss.css' />
    <link rel='stylesheet' href='./plugins/static/luckysheet/plugins.css' />
    <link rel='stylesheet' href='./plugins/static/luckysheet/luckysheet.css' />
    <link rel='stylesheet' href='./plugins/static/luckysheet/iconfont.css' /> -->

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/css/pluginsCss.css' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/plugins.css' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/css/luckysheet.css' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/luckysheet/dist/assets/iconfont/iconfont.css' />

    <script src="https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/js/plugin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luckysheet/dist/luckysheet.umd.js"></script>
  </head>
  <body>
      <div id='root'>自定义模板加载</div>
  </body>
  <style>
    /* 隐藏logo等无用信息 */
  .luckysheet-share-logo,.luckysheet_info_detail_update,.luckysheet_info_detail_back,.luckysheet_info_detail_save{
    display: none;
  }
  /* 头部的高度 */
  .luckysheet_info_detail{
    height: 40px !important;
  }
  *{
    font-size: 12px;
  }
  </style>
  
</html>